@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F002B;
}


/* * {
  outline: 1px solid red;
} */

.card {
  box-shadow: 0px 0px 40px 6px rgba(0, 0, 0, 0.25);
}

.arrow-down {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.side-icon {
  width: 24px;
  height: 24px;
}
